@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #506266, #10454F);
}

main {
    background-color: #dae4a0;
    width: 600px;
    border-radius: 16px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #071d22be;
}

h1 {
    background-color: #0b323a;
    color: #BDE038;
    text-align: center;
    text-shadow: 1px 1px 2px #758c21b2;
}

h2 {
    background-color: #707653;
    color: #BDE038;
}

p {
    text-align: justify;

}