@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px
}

nav {
    background-color: lightgray;
    padding: 3px;
    box-shadow: 3px 3px 3px 1px #00000079;
}

nav>a {
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 16px 16px 16px 0px;
}

article {
    background-color: lightgray;
}

article>aside {
    background-color: rgb(126, 125, 125);
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

footer>p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
}