@charset "UTF-8";

/*
Em HTML é 'id' e em CSS é '#'
*/

body {
    background-color: rgb(190, 241, 190);
    font: normal 1em Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(85, 132, 85);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(116, 177, 116);
}